@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Address<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@somesite.com">Support@somesite.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@somesite.com">Marketing@somesite.com</a>
</address>