@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>Online TODO</h1>
    <p class="lead">This application is an online TODO application.</p>
    <p><a href="https://" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This application enables user to manage TODOs.
        </p>
        <p><a class="btn btn-default" href="https://">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Technology</h2>
        <p> Microsoft MVC and Redis as in memory db </p>
        <p><a class="btn btn-default" href="https://">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Application can be easily hosted on IIS</p>
        <p><a class="btn btn-default" href="https://">Reference &raquo;</a></p>
    </div>
</div>